body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

.grid-container {
    display: grid;
    

 
    grid-template-areas:
        "a a"
        "b c"
        "d d"
        "e e"
        "f f";
    
    
    grid-template-columns: 1fr 1fr;
}

.grid-container > * {
   

    padding: 20px;
    border: 1px solid #999;
    text-align: center;
    font-size: 2em;
}

.a { grid-area: a;  }
.b { grid-area: b;}
.c { grid-area: c; }
.d { grid-area: d;}
.e { grid-area: e;}
.f { grid-area: f;}


@media (min-width: 768px) {
    .grid-container {
        
        grid-template-areas:
            "a a a"
            "b c d"
            "e e e"
            "f f f";
        
        grid-template-columns: 1fr 1fr 1fr;
    }

  
}

@media (min-width: 1080px) {
    .grid-container {
        
        grid-template-areas:
            "a a a"
            "b c d"
            "e e f";
            
        
        grid-template-columns: 1fr 1fr 1fr;
    }

  
}